version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    target-branch: "main"
    schedule:
      interval: monthly
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
