name: tests

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:

jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      conda: true
      envs: |
        - linux: py311
        - linux: py312
        - macos: py313
        - linux: py314
