name: tests

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:

jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      conda: true
      envs: |
        - linux: py311
        - linux: py312
        - macos: py313
        - linux: py314
